---
title: API Reference
section: APIReference
---

### ractive = new Ractive( *options* )

Create a new Ractive instance. See <a href="{{relative absolute 'latest/initialisation-options'}}">Initialisation Options</a> for a breakdown of the available (and required) options.

## Instance methods

## Instance properties

* <a href="{{relative absolute 'latest/ractive-nodes'}}">ractive.nodes</a>
* <a href="{{relative absolute 'latest/ractive-transitions'}}">ractive.transitions</a>
* <a href="{{relative absolute 'latest/ractive-partials-instance'}}">ractive.parials</a>


## Instance events

See <a href="{{relative absolute 'latest/events'}}">Events</a>.

## Static methods

* <a href="{{relative absolute 'latest/ractive-parse'}}">Ractive.parse()</a>
* <a href="{{relative absolute 'latest/ractive-extend'}}">Ractive.extend()</a>
...more to come...

## Plugins and shared properties

* <a href="{{relative absolute 'latest/adaptors'}}">Adapators</a>
* <a href="{{relative absolute 'latest/events'}}">Ractive.eventDefinitions</a>
* <a href="{{relative absolute 'latest/ractive-easing'}}">Ractive.easing</a>
* <a href="{{relative absolute 'latest/partials'}}">Partials</a>
* <a href="{{relative absolute 'latest/transitions'}}">Transitions</a>
...more to come...