---
title: API Reference
section: APIReference
---

### ractive = new Ractive( *options* )

Create a new Ractive instance. See <a href="{{relative absolute 'latest/initialisation-options'}}">Initialisation Options</a> for a breakdown of the available (and required) options.

## Instance methods

## Instance properties

* {{{createLink 'ractive.nodes'}}}
* {{{createLink 'ractive.transitions'}}}
* {{{createLink 'ractive-partials-instance' 'ractive.parials'}}}


## Instance events

See {{{createLink 'Events'}}}

## Static methods

* {{{createLink 'Ractive.parse()'}}}
* {{{createLink 'Ractive.extend()'}}}
...more to come...

## Plugins and shared properties

* {{{createLink 'Adapators'}}}
* {{{createLink 'events' 'Ractive.eventDefinitions'}}}
* {{{createLink 'Ractive.easing'}}}
* {{{createLink 'Partials'}}}
* {{{createLink 'Transitions'}}}
...more to come...