<section>
	<h1>Introduction</h1>
	<ul>
		<li>{{{createLink 'Get started'}}}</li>
		<li>{{{createLink 'Tips'}}}</li>
		<li>{{{createLink 'Get support'}}}</li>
		<li>{{{createLink 'Contributing'}}}</li>
		<li>{{{createLink 'Get started with node.js'}}}</li>
	</ul>
</section>

<section>
	<h1>Configuration</h1>
	<ul>
		<li>{{{createLink 'Options'}}}</li>
		<li>{{{createLink 'Ractive.defaults' 'Defaults'}}}</li>
		<li>{{{createLink 'Advanced configuration' 'Advanced configuration'}}}</li>
	</ul>
</section>
<section>
	<h1>Core Concepts</h1>
	<h2>Templates</h2>
	<ul>
		<li>{{{createLink 'Templates'}}}</li>
		<li>{{{createLink 'Mustaches'}}}</li>
		<li>{{{createLink 'References'}}}</li>
		<li>{{{createLink 'Expressions'}}}</li>
		<li>{{{createLink 'Keypaths'}}}</li>
		<li>{{{createLink 'Partials'}}}</li>
		<li>{{{createLink 'Decorators'}}}</li>
		<li>{{{createLink 'Events'}}}</li>
	</ul>
	<h2>Data & Binding</h2>
	<ul>
		<li>{{{createLink 'Two-way binding'}}}</li>
		<li>{{{createLink 'Magic mode'}}}</li>
		<li>{{{createLink 'Dependants'}}}</li>
		<li>{{{createLink 'Array modification'}}}</li>
		<li>{{{createLink 'Computed Properties'}}}</li>
		<li>{{{createLink 'Observers'}}}</li>
		<li>{{{createLink 'Adaptors'}}}</li>
		<li>{{{createLink 'Parallel DOM'}}}</li>
	</ul>
	<h2>Transitions and Animations</h2>
	<ul>
		<li>{{{createLink 'Transitions'}}}</li>
		<li>{{{createLink 'Promises'}}}</li>
		<li>{{{createLink 'Ractive.easing' 'Easings'}}}</li>
	</ul>
	<h2>Components</h2>
	<ul>
		<li>{{{createLink 'Components'}}}</li>
	</ul>
</section>
<section>
	<h1>API Reference</h1>
	<h2>Constructor</h2>
	<ul>
		<li>{{{createLink 'new Ractive(...)'}}}</li>
	</ul>
	<h2>Instance methods</h2>
	<ul>
		<li>{{{createLink 'ractive.add()'}}}</li>
		<li>{{{createLink 'ractive.animate()'}}}</li>
		<li>{{{createLink 'ractive.detach()'}}}</li>
		<li>{{{createLink 'ractive.find()'}}}</li>
		<li>{{{createLink 'ractive.findAll()'}}}</li>
		<li>{{{createLink 'ractive.findAllComponents()'}}}</li>
		<li>{{{createLink 'ractive.findComponent()'}}}</li>
		<li>{{{createLink 'ractive.fire()'}}}</li>
		<li>{{{createLink 'ractive.get()'}}}</li>
		<li>{{{createLink 'ractive.insert()'}}}</li>
		<li>{{{createLink 'ractive.merge()'}}}</li>
		<li>{{{createLink 'ractive.observe()'}}}</li>
		<li>{{{createLink 'ractive.off()'}}}</li>
		<li>{{{createLink 'ractive.on()'}}}</li>
		<li>{{{createLink 'ractive.pop()'}}}</li>
		<li>{{{createLink 'ractive.push()'}}}</li>
		<li>{{{createLink 'ractive.render()'}}}</li>
		<li>{{{createLink 'ractive.reset()'}}}</li>
		<li>{{{createLink 'ractive.set()'}}}</li>
		<li>{{{createLink 'ractive.shift()'}}}</li>
		<li>{{{createLink 'ractive.splice()'}}}</li>
		<li>{{{createLink 'ractive.subtract()'}}}</li>
		<li>{{{createLink 'ractive.teardown()'}}}</li>
		<li>{{{createLink 'ractive.toggle()'}}}</li>
		<li>{{{createLink 'ractive.toHTML()'}}}</li>
		<li>{{{createLink 'ractive.unshift()'}}}</li>
		<li>{{{createLink 'ractive.update()'}}}</li>
		<li>{{{createLink 'ractive.updateModel()'}}}</li>
	</ul>
	<h2>Instance properties</h2>
	<ul>
		<li>{{{createLink 'ractive.nodes'}}}</li>
		<li>{{{createLink 'ractive.transitions (instance)' 'ractive.transitions'}}}</li>
		<li>{{{createLink 'ractive.partials (instance)' 'ractive.partials'}}}</li>
	</ul>
	<h2>Static methods</h2>
	<ul>
		<li>{{{createLink 'Ractive.parse()'}}}</li>
		<li>{{{createLink 'Ractive.extend()'}}}</li>
	</ul>
	<h2>Static properties</h2>
	<ul>
		<li>{{{createLink 'Ractive.defaults'}}}</li>
	</ul>
</ul>
</section>
<section>
	<h1>Plugins</h1>
	<h2>Using</h2>
	<ul>
		<li>{{{createLink 'Plugins' 'List of plugins'}}}</li>
	</ul>
	<h2>Writing</h2>
	<ul>
		<li>{{{createLink 'Writing adaptor plugins' 'Adaptors'}}}</li>
		<li>{{{createLink 'Writing decorator plugins' 'Decorators'}}}</li>
		<li>{{{createLink 'Writing event plugins' 'Events'}}}</li>
		<li>{{{createLink 'Writing transition plugins' 'Transitions'}}}</li>
	</ul>
</section>

<section>
	<h1>Specific versions</h1>

	<ul>
		<li><a href='../0.3.9'>0.3.9</a></li>
		<li><a href='../0.4.0'>0.4.0</a></li>
		<li><a href='../0.5'>0.5</a></li>
		<li><a href='../edge'>edge</a></li>
	</ul>
</section>
